# API Keys para proveedores externos
API_KEY_INEGI=tu_clave_inegi_aqui
GROQ_API_KEY=tu_clave_groq_aqui
GROQ_MODEL=llama-3.3-70b-versatile
API_KEY_INDICADORES=tu_clave_indicadores_aqui
GOOGLE_PLACES_API_KEY=tu_clave_google_places_aqui

# Configuración de Base de Datos (PostgreSQL/PostGIS)
POSTGRES_DB=geoanalisis
POSTGRES_USER=admin
POSTGRES_PASSWORD=una_contrasena_segura_aqui

# Rutas de Archivos (Opcional, si usas volúmenes para el Excel pesado)
# AGEB_FILE_PATH=RESAGEBURB_09XLSX20.xlsx
